<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes" thread-count="4">
    <listeners>
     <listener class-name="com.wsc.framework.listener.TestListener" />
	</listeners>
	
  <test name="testone">
        
      <classes>
      
          <class name="zhuanzhuan一元快抢Case.TestCase1">
                 <parameter name="type" value="1" />
        <parameter name="deviceinfo" value="Xiaomi Mi-4c" />
        <parameter name="appname" value="zhuanzhuan_market_805.apk" />
        <parameter name="apppackage" value="com.wuba.zhuanzhuan" /> 
          </class>
          <class name="zhuanzhuan一元快抢Case.TestHomeCase">
                 <parameter name="type" value="1" />
        <parameter name="deviceinfo" value="moni1" />
        <parameter name="appname" value="zhuanzhuan_market_805.apk" />
        <parameter name="apppackage" value="com.wuba.zhuanzhuan" /> 
          </class>
      </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
